html{
    overflow-x: hidden;
    width: 1440px;
}
.slider {
  position: relative;
  width: 312px;
  padding: 10px 40px;
  border: 1px solid #CCC;
}

.slider img {
  width: 312px;
  height: 400px;
  /* we make this element blocky to remove extra space around the pictures */
  display: block;
}

.arrow {
  position: absolute;
  top: 47%;     /* place the arrows approximately in the middle of the carousel */
  padding: 2px;
  font-size: 18px;
  color: #000;
  display: block;
}

.arrow:hover {
  background-color: orange;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.gallery {
  width: 312px;
  overflow: hidden;
}

.gallery ul {
  height: 400px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 200ms;
    /* place the arrows approximately in the middle of the carousel */
  font-size: 0;
}

.gallery li {
  display: inline-block;
}
.burgermenu{
    visibility: hidden;
    width: 300px;
}
/* .home{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
} */
.burger_btn {
    display: flex; /* using flex to center the contents */
    align-items: center;  /* centering the button's contents */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    z-index: 1;
    background-color: #8080804d;
}
#burger {
    opacity: 0;
}
.burger_btn > span,
.burger_btn > span::before,
.burger_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.burger_btn > span::before {
  content: "";
  top: -8px;
}
.burger_btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 125px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    text-decoration: none;
  }
  .menu_box > a:hover {
    background-color: #CFD8DC;
  }
  #burger:checked ~ .burger__btn > span {
    transform: rotate(45deg);
  }
  #burger:checked ~ .burger__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #burger:checked ~ .burger__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #burger:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
#arrow{
    position: fixed;
    right: 10%;
    z-index: 2;
    bottom: 10px;
    background-color: #a9a9a9b3;
    padding: 10px;
    border-radius: 25px;
    height: 16px;
    width: 16px;
}
footer{
    height: 100px;
    width: calc(101% - 5px);
    left: 0px;
    top: 819px;
    border-radius: 0px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav>a{
    text-decoration: none;
    color: black;
}
@media (max-width: 900px) {
    .burgermenu{
        visibility: visible;
    }
    .widemenu{
        visibility: hidden;
    }
    img{
      display: block;
      width: max-content;
    }
}