@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
background-color: #BBCFD1;
}
header{
position: absolute;
width: 100%;
height: 134px;
left: 0px;
top: 0px;
background-color: #127780;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
}
main{
margin-top: 196px;
}
h1{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
}
footer{
background-color: #459198;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 101px;
left: 0px;
margin: 0px;
position: absolute;
}
.mainmenulink{
text-decoration: none;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
color: white;
padding-left: 10px;
padding-right: 10px;
}
.maincontent{
display: flex;
justify-content:space-evenly;
align-items:center;
overflow: hidden;
padding-left: 1%;
padding-right: 1%;
padding-top: 10px;
margin-bottom: 20px;
animation: fadein 4s;
-moz-animation: fadein 4s; /* Firefox */
-webkit-animation: fadein 4s; /* Safari and Chrome */
-o-animation: fadein 4s; /* Opera */
}
.menu{
overflow: hidden;
display: grid;
grid-template-columns: auto auto auto;
}
.subheader{
position: absolute;
width: 95%;
height: 62px;
left: 0px;
top: 134px;
padding-left: 5%;
margin-top: 0px;
color: white;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
background-color: #459198;
}
.subheader>p{
top: 134px;
animation: flyright 2s ease-out;
-moz-animation: flyright 2s ease-out; /* Firefox */
-webkit-animation: flyright 2s ease-out; /* Safari and Chrome */
-o-animation: flyright 2s ease-out; /* Opera */
}
.footerleft{
padding-left: 20px;
font-size: 24px;
}
.footerright{
padding-right: 10px;
display: flex;
flex-direction: row;
}
.details{
background-color: #459198;
color: black;
border: #127780;
border-style: solid;
border-width: 2px;
border-radius: 10px;
width: 300px;
padding-top: 20px;
padding-left: 20px;
}
.phone{
text-decoration: none;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
color: black;
filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(106%) contrast(101%);
}
.restaurant{
width: 60%;
}
.social{
width: 37px;
height: 37px;
padding-right: 10px;
filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(106%) contrast(101%);
}
.imggallery{
display: grid;
grid-template-columns: auto auto auto;
padding: 10px;
overflow: hidden;
animation: fadein 4s;
-moz-animation: fadein 4s; /* Firefox */
-webkit-animation: fadein 4s; /* Safari and Chrome */
-o-animation: fadein 4s; /* Opera */
}
.imggallery>img{
width: 90%;
vertical-align: middle;
transition: transform .5s ease;
}
.imggallery>img:hover{
transform: scale(1.1);
}
.offerone{
display: flex;
justify-content: center;
}
.mainmenu{
display: flex;
justify-content: space-between;
}
.details{
background: rgba(255, 255, 255, 0.5);
}
.detailslist{
text-align: left;
}
.phoneimg{
height: 30px;
width: 30px;
border-radius: 0px;    
}
.mailto:hover{
color: yellow;
}
.phone:hover{
filter: invert(81%) sepia(97%) saturate(7495%) hue-rotate(358deg) brightness(104%) contrast(102%)
}
.mainmenulink:hover{
color: yellow;
}
.social:hover{
filter: invert(81%) sepia(97%) saturate(7495%) hue-rotate(358deg) brightness(104%) contrast(102%)
}
@keyframes flyright {
    from {
        transform: translateX(-200%) ;
    }
    to {
        transform: translateX(0%) ;
    }
}
@-moz-keyframes flyright { /* Firefox */
    from {
        transform: translateX(-200%) ;
    }
    to {
        transform: translateX(0%) ;
    }
}
@-webkit-keyframes flyright { /* Safari and Chrome */
    from {
        transform: translateX(-200%) ;
    }
    to {
        transform: translateX(0%) ;
    }
}
@-o-keyframes flyright { /* Opera */
    from {
        transform: translateX(-200%) ;
    }
    to {
        transform: translateX(0%) ;
    }
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

