body{
    margin: 0;
}
.slider {
    position: relative;
    width: 312px;
    padding: 10px 40px;
    border: 1px solid #cccccc;
}
  
  .slider img {
    width: 312px;
    height: 400px;
    /* we make this element blocky to remove extra space around the pictures */
    display: block;
  }
  
  .arrow {
    position: absolute;
    top: 47%;     /* place the arrows approximately in the middle of the carousel */
    padding: 2px;
    font-size: 18px;
    color: #000;
    display: block;
  }
  
  .arrow:hover {
    background-color: orange;
  }
  
  .prev {
    left: 7px;
  }
  
  .next {
    right: 7px;
  }
  
  .gallery {
    width: 312px;
    overflow: hidden;
  }
  
  .gallery ul {
    height: 400px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 200ms;
      /* place the arrows approximately in the middle of the carousel */
    font-size: 0;
  }
  
  .gallery li {
    display: inline-block;
  }
.container{
    padding: 20px 50px;
    font-size: 18px;
}

#carousel{
  padding-top:200px;
}

header {
    background-color: #FDAC53;
    width: 100%;
    position:fixed;
}

.headerInner{
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100px;
    width: 100px;
}
ul{
    display: flex;
}

li{
    list-style: none;
    margin-left: 40px;
}

.menuA{
    font-size: 30px;
    color: white;
}
.menuB{
    font-size: 30px;
    color: red;
}

main{
    background-color: royalblue;
    color: white;
}

article>div{
    display: flex;
    justify-content: flex-start;
}
article>h2{
    display: flex;
    justify-content: center;
    background:-webkit-linear-gradient(45deg, white 50%,red 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

article{
    display: block;
    margin: 150px 0 150px;
}
footer{
    background-color: rgb(61, 61, 61);
    color:white;
}

.footerInner{
    margin: 50px 0 50px;
}

.footerA{
    display: flex;
    justify-content: space-between;
}

.aF{
    text-decoration: none;
    color:white;
}
h2{
    display: block;
}
img{
    height: 240px;
    width: 240px;
    border-radius: 10px;
}